/* COMMENTS FUTURE NOTES */

/* TABLE */
table{
    width: 80%;
    background-color: #DEAA79;
    border-color: #E07B39;
}
th, td{
    padding: 3px;
}
td{
    background-color: antiquewhite;
}

/* TABLE book info */
.tablebi{
    width: 80%;
    background-color: #483AA0;
    border-color: #483AA0;
}
th, td{
    padding: 3px;
}
td{
    background-color: rgb(244, 255, 159);
}

/* TABLE author info */
.tableai{
    width: 80%;
    background-color: #1fd828;
    border-color: #1fd828;
}
th, td{
    padding: 3px;
}
td{
    background-color: rgb(243, 245, 227);
}

/* BODY BACKGROUND */
/* From Uiverse.io by catraco */ 
.container {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(255, 230, 117, 1) 100%);
}

.container2 {
    background: #ea97fc;
    background: linear-gradient(90deg, rgba(234, 151, 252, 1) 0%, rgba(255, 229, 84, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

/* FORM add book, author, edit author */
/* From Uiverse.io by omriluz */
.form-container {
    width: 400px;
    background: linear-gradient( #E0D3DE, #E0D3DE) padding-box,
                linear-gradient(145deg, transparent 25%, #e81cff, #40c9ff) border-box;
    border: 4px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000ff;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #000000ff;
}

.form-container .form-group textarea {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #000;
    height: 96px;
    border: 1px solid #000000ff;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
    color: #000;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #e0e0e0ff;
    font-weight: 600;
    width: 40%;
    background: #643274ff;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}

.card-container2 {
    display: flex;
    justify-content: center; /* Centers the cards horizontally */
    align-items: center; /* Aligns cards vertically if they have different heights */
    gap: 5px; /* Adds space between the cards */
}

/* Container for all cards */
.card-container {
    display: flex;
    flex-wrap: wrap;   /* Allow multiple rows if too many cards */
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

/* Card styling */
.card {
    background-color: #96f6deff;
    border: 3px solid #25241c;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: #25241c;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: opacity 0.4s ease;
}

.card.fade-out {
    opacity: 0;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.header {
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
}

.App-button {
    padding: 8px 16px;
    margin: 10px;
    background-color: transparent;
    color: #25241c;
    font-size: 15px;
    border: 2px solid #25241c;
    border-radius: 5em;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.App-button:hover {
    color: #96f6deff;
    background-color: #25241c;
}

body {
    background-color: #FFE6A9;
}

h1 {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.card2 {
    background-color: #71f79f;
    border: 3px solid #25241c;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    color: #25241c;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.card2:hover {
    transform: scale(1.05);
}

.header {
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
}

.App-button2 {
    padding: 8px 16px;
    background-color: transparent;
    color: #25241c;
    font-size: 14px;
    border: 2px solid #25241c;
    border-radius: 5em;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.App-button2:hover {
    color: rgb(93, 244, 151);
    background-color: #000000;
}

body {
    background-color: #FFE6A9;
}

h1 {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.card3 {
    background-color: #E9B3FB;
    border: 3px solid #25241c;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: #25241c;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

/* button arrangement */
.frame {
    display: flex;                 /* Put left & right sections in one row */
    justify-content: space-between; /* Left group sticks left, right group sticks right */
    align-items: center;           /* Vertically center the buttons */
    width: 100%;                   /* Take full width (or set a max-width) */
    padding: 10px 20px;             /* Optional spacing inside */
    box-sizing: border-box;        /* Prevent padding from breaking width */
}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 10px;                      /* Space between buttons inside each group */
}

.buttone, .custom-btn {
    padding: 8px 16px;
    cursor: pointer;
}

/* BUTTON */
/* BUTTON IN TABLE */
.more {
    background-color: #0d89dc;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.more:hover {
    background-color: blue;
}
.del {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.del:hover {
    background-color: red;
}

/* ADD BOOK BUTTON */
button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-1 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    text-align: center;
}
.btn-1:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
}
.btn-1:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
}
.btn-1:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/* book info BUTTON */
.buttonback {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color:rgba(238, 238, 238, 0.29);
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.buttonback > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.buttonback:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.buttonback:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

.buttonb {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.buttonb:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.buttonb:hover .icon {
    transform: translate(4px);
}

.buttonb:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.buttonb::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    }

    @keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.buttonc {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #06923E;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.iconc {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.buttonc:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.buttonc:hover .iconc {
    transform: translate(4px);
}

.buttonc:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.buttonc::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    }

    @keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.buttond {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #d45bc4;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.buttond:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.buttond:hover .iconc {
    transform: translate(4px);
}

.buttond:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.buttond::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

/* AUTHOR & BOOK BUTTON */
/* From Uiverse.io by Madflows */ 
.buttone {
    position: relative;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    height: 40px;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(15deg, #1fd1f9, #b621fe, #483AA0) no-repeat;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttone:hover::before {
    transform: scaleX(1);
}

.buttone-content {
    position: relative;
    z-index: 1;
}

.buttone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgb(104, 23, 225) 10.8%,
        rgb(189, 42, 230) 94.3%
    );
    transition: all 0.475s;
}

.buttonf {
    position: relative;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    height: 40px;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background: #131f53;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttonf:hover::before {
    transform: scaleX(1);
}

.buttonf-content {
    position: relative;
    z-index: 1;
}

.buttonf::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgb(104, 23, 225) 10.8%,
        rgb(189, 42, 230) 94.3%
    );
    transition: all 0.475s;
}

/* BUTTON in author info */
/* From Uiverse.io by SteveBloX */ 
.buttong {
    width: 90px;
    height: 40px;
    border: 2px solid #087e0a;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1em;
    font-weight: 550;
    margin: 10px;
}

.buttong:hover {
    background: #087e0a;
    color: white;
    font-size: 1.2em;
}

/* INDEX STYLE */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content h1 {
    font-size: 8rem;
    font-weight: 600;
    -webkit-text-stroke: 2px rgb(168, 239, 255, 1);
    color: transparent;
    transition: all 0.5s ease;
}

.btn-2 {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.btn-2:hover {
    transform: translateY(-5px);
}

.light::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
        rgb(168, 239, 255, 1) 20deg,
        transparent 150deg
    );
    width: 400%;
    height: 400%;
    border-radius: 5px;
    animation: rotate 3s linear infinite;
}

.light::after {
    content: "Explore";
    position: absolute;
    width: 170px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 450px) {
    .content h1 {
        font-size: 3rem;
    }
    
    .btn-2 {
        width: 130px;
    }
    
    .light::after {
        width: 120px;
        font-size: 0.9rem;
    }
}

/* PASS PAGE */



.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.buttonh {
    width: 80%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255,255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

.buttonh:hover {
    background-color: rgb(255, 255,255, 0.5);
}
